.main{
    background-color: rgb(26, 24, 24);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    align-items: center;
    gap: 10px;
    width: 50%;
    color: rgb(0, 0, 0);
    box-shadow: .5px 3px 8px 2px wheat;
}

#border{
    border-radius: 25px;

}

#user{
    border-radius: 50%;
    width: 100px;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#option{
    position: relative;
    left: 120px;
    font-size: 25px;
}

#tick{
    color: #1B9CEC;
}

.main-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

#appbtn{
    width: 30%;
}

#btn-icon{
    font-size: 20px;
    font-weight: 700;
}
